<main>
    <app-info-section #about>
        <app-about-info-section [active]="about.activated"></app-about-info-section>
    </app-info-section>

    <app-info-section>
        <app-skills-info-section></app-skills-info-section>
    </app-info-section>

    <app-info-section>
        <app-projects-info-section></app-projects-info-section>
    </app-info-section>

    <app-info-section>
        <section>
            <header>
                <h2>
                    Some random fucking text.
                </h2>
            </header>
        </section>
    </app-info-section>
</main>