@import '../../../../../assets/styles/vars.scss';

@mixin flavor-text-padding {
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            padding-top: 2.5em * ($i - 1);
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.4);
    }

}

@keyframes bounce {
    10%{ bottom: 1em; }
    25% { bottom: 1.5em; }
    27% { bottom: 1.5em; }
    40% { bottom: 1em; }
    50% { bottom: 1.1em; }
    60% { bottom: 1em; }
    70% { bottom: 1.05em; }
    80% { bottom: 1em; }
}

:host {
    .about-content {
        position: relative;
        min-height: 40em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transform: translateY(3em);
        transition: all 2s;
        transition-property: transform, opacity;

        &.active {
            opacity: 1;
            transform: translateY(0);
        }

        header {
            z-index: 2;

            h1 {
                // BIG HEADER
                font-size: 4em;
                margin: 0;
                text-shadow: 0 4px 4px rgba(25,25,25,0.25);
            }
        }

        .flavor {
            $p-pad: $padding * 4;
            z-index: 2;

            p {
                @include flavor-text-padding;
                position: absolute;
                left:0;
                right:0;
                text-align: center;
                opacity: 0;
                margin: $p-pad;
                margin-top: 4em;
                transition: all 0.8s;
                max-height: 1em;

                &.visible {
                    opacity: 1;
                    margin-top: $p-pad;
                }

                .emphasis {
                    color: #93f9b9;
                    transform: scale(1.5);
                    padding: 0 $padding * 3 $padding * 2;
                    text-transform: uppercase;
                    display: inline-block;
                    font-weight: 700;
                    animation: pulse infinite linear 2.5s;
                    text-shadow: 0 3px rgba(25,25,25,0.25);
                }
            }
        }
    }

    .overlay {
        pointer-events: none;
        height: 100%;
        width: 100%;
        top: 0;
        right:0;
        position: absolute;
        z-index: 0;
    }

    .next-section {
        button {
            position: absolute;
            bottom: 1em;
            border-radius: 10em;
            background-color: rgba(250,250,250,0.2);
            width: 4em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(25,25,25,0.2);
            animation: bounce infinite linear 1s;
            border:0;
            cursor: pointer;
        }
    }
}