:host {
    display: block;

    &.in-view-static {
        .content {
            padding-top: 0;
            opacity: 1;
            transition: none; 
        }
    }

    &.in-view {        
        .content {
            padding-top: 0;
            opacity: 1;
        }
    }

    .content {
        margin:0;
        padding-top: 64px;
        opacity: 0;
        transition: all 0.8s;
    }
}