<section class="skills-section">

    <article>
        <header>
            <h2>Frontend</h2>
        </header>
        <ul>

        </ul>
    </article>

    <article>
        <header>
            <h2>Backend</h2>
        </header>
        <ul>

        </ul>
    </article>

    <article>
        <header>
            <h2>Database</h2>
        </header>
        <ul>

        </ul>
    </article>

    <article>
        <header>
            <h2>Tools</h2>
        </header>
        <ul>

        </ul>
    </article>

</section>